@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sixtyfour&display=swap");
$egyptian-blue: hsla(222, 88%, 33%, 1);
$celtic-blue: hsla(219, 56%, 53%, 1);
$glaucous: hsla(226, 69%, 63%, 1);
$jordy-blue: hsla(219, 82%, 76%, 1);
$columbia-blue: hsla(203, 33%, 86%, 1);

body {
  background-color: $jordy-blue;
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
}
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.todo-div {

  h1 {
    font-size: 3rem;
  }

  ul {
    font-size: 2rem;
  }

  svg {
    cursor: pointer !important;
  }

  .delete-btn {
    color: rgb(163, 3, 3);
  }
}
